<script setup>
import {onMounted, ref, reactive} from 'vue'
import axios from "axios";

const houses = ref([]);

let searchData = reactive({
    searchName: null,
    searchBathrooms: null,
    searchBedrooms:  null,
    searchStoreys: null,
    searchGarages: null,
    searchPrice: {
        min: null,
        max: null,
    }
})

onMounted(() => {
    getHouses()
})
const getHouses = async () => {
    await axios
        .post('/houses', searchData)
        .then(response => {
            houses.value = response.data
        })
        .catch(error => {
            console.log(error);
        })
}


</script>

<template>
    <div>
        <h1>Houses</h1>
        <div class="searchbar">
            <el-input
                v-model="searchData.searchName"
                size="small"
                placeholder="Type to search name"/>
            <el-input
                v-model="searchData.searchBathrooms"
                size="small"
                placeholder="Type to search bathrooms"/>
            <el-input
                v-model="searchData.searchBedrooms"
                size="small"
                placeholder="Type to search bedrooms"/>
            <el-input
                v-model="searchData.searchStoreys"
                size="small"
                placeholder="Type to search storeys"/>
            <el-input
                v-model="searchData.searchGarages"
                size="small"
                placeholder="Type to search garages"/>
            <el-input-number
                v-model="searchData.searchPrice.min"
                placeholder="Min Price">
            </el-input-number>
            <el-input-number
                v-model="searchData.searchPrice.max"
                placeholder="Max Price">
            </el-input-number>
            <br><br>
            <el-button @click="getHouses">Search</el-button>
        </div>
        <el-table :data="houses" style="width: 100%">
            <el-table-column
                label="Name"
                sortable
                prop="name">
            </el-table-column>
            <el-table-column
                label="Price"
                sortable
                prop="price">
            </el-table-column>
            <el-table-column
                label="Bedrooms"
                sortable
                prop="bedrooms">
            </el-table-column>
            <el-table-column
                label="Bathrooms"
                sortable
                prop="bathrooms">
            </el-table-column>
            <el-table-column
                label="Storeys"
                sortable
                prop="storeys">
            </el-table-column>
            <el-table-column
                label="Garages"
                sortable
                prop="garages">
            </el-table-column>
        </el-table>
    </div>
</template>

<style scoped>

</style>
